.main {
    /* display: flex; */
    /* max-width: 300rem; */
    /* padding: 1rem; */
    /* border-radius: 12px; */
    background-image: url(/src/assets/backgroun_dash.jpg);
    background-size: cover;
    background-color: rgb(247, 245, 245);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    margin: 2px auto;
    color: rgb(5, 5, 5);
    width: 100%;
    height: 100%;
    overflow: hidden;
}
main img {
  top: 0;
  right: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.buttons {
    display: inline-flex;
    font-size: 12px;
    margin: 1px;
    align-content: flex-end;
    border-radius: 12px;
    color: white;
    padding: 0.25rem 1rem;
    width: 12%;
    height: 1.5rem;
    border-radius: 12px 12px 0px 0px;
    transition : 1000ms;
    transform: translateY(0);
    background-color: coral;
}

.buttons:hover{

    transition : 1000ms;
    padding: 5px 30px;
    transform : translateY(-0px);
    background-color: #fff;
    color: #0066cc;
    border: solid 2px #0066cc;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.25);  ;
    }

.info {
    width: 100%;
    color: rgb(15, 15, 15);
    /* box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25); */
  }

  .info_div{
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    
    /* position: relative; */
  }

  .info_div h3{
    color: rgb(15, 15, 15);
    height: 40px;
    width: 100px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin: 0 5px 0px 5px;
    font-size: 10px;
    padding: 10px;
    text-align: center;
    background: white;
  }

  .buttons_group {
    height: 3rem;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding: 0 1%;
    /* box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25); */
  }

  .line_trougth {
	text-decoration: line-through;
}




